/* HOME PAGE */
body {
    width: 70%;
    margin: auto;
}

main section p {
    border: solid black 2px;
}

/* SHOWTIMES */
.showtimes div {
    border: solid black 1px;
    border-bottom: none;
}

.showtimes div:last-of-type div {
    border-bottom: solid black 2px;
}

.showtimes img {
    height: 200px;
    width: 99%;
}


.form-list{
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}
#msg{
    margin: 0px; width: 487px; height: 154px;
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}
/* header nav {
    width: 50%;
    margin: auto;
   } */
